<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>志愿者申请结果</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>    
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>用户首页 > 志愿申请 ><span>申请结果</span></p>
    		</div>
    	</div>
    	<!--面包屑导航-->
        <div class="layui-row">
            <div class="layui-card">
            	<div class="table-responsive">
					<table id="volunteList" lay-filter="test"></table>
			 	</div>
            </div>           
        </div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>
    <script type="text/html" id="doBar">
        {{#  if(d.stat == "同意"){ }}
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="complete">完成</a>
        {{#  } }}
    </script>
    <script>
    	var element = layui.element;

		function dateToStr(date) {
			if(date==="") return "";
			var time = new Date(date.time);
			var y = time.getFullYear();
			var M = time.getMonth() + 1;
			M = M < 10 ? ("0" + M) : M;
			var d = time.getDate();
			d = d < 10 ? ("0" + d) : d;
			var h = time.getHours();
			var str = y + "-" + M + "-" + d;
			return str;
		}

		function intToDay(num){
			var str;
			switch (num){
				case '1': str="周一上午";break;
				case '2': str="周二上午";break;
				case '3': str="周三上午";break;
				case '4': str="周四上午";break;
				case '5': str="周五上午";break;
				case '6': str="周六上午";break;
				case '7': str="周日上午";break;
				case '8': str="周一下午";break;
				case '9': str="周二下午";break;
				case '10': str="周三下午";break;
				case '11': str="周四下午";break;
				case '12': str="周五下午";break;
				case '13': str="周六下午";break;
				case '14': str="周日下午";break;
			}
			return str;
		}

		layui.use('table', function(){
			var table = layui.table;

			//第一个实例
			table.render({
				elem: '#volunteList'
				,height: 466
				,url: '/user/volunteList' //数据接口
				,page: true //开启分页
				,method: 'post'
				,cols: [
					[ //表头
						{field: 'userName', title: '申请人', sort: true, fixed: 'left'}
						,{field: 'taskTime', title: '申请服务时间', sort: true,
							templet: function (d) {
								return intToDay(d.taskTime);
							}
						}
						,{field: 'puDate', title: '申请时间', sort: true,
							templet: function (d) {
								return dateToStr(d.puDate);
							}
						}
						,{field: 'stat', title: '状态', sort: true}
                        ,{title: '操作', toolbar:"#doBar", width:120}
					]
				]
			});

            table.on('tool(test)', function(obj){
                var data = obj.data;
                var layEvent = obj.event;

                if(layEvent === 'complete'){ //同意
                    location.href="/user/volunteComplete?meID="+data.meID;
                }
            });

		});
		
		 layui.use('form', function(){
		  var form = layui.form; 
		  form.render();
		}); 
	</script>
	
</body>
</html>