<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>志愿者申请结果</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>    
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>首页管理 > <span>查看申请结果</span></p>
    		</div>
    	</div>
    	<!--面包屑导航-->
        <div class="layui-row">
            <div class="layui-card">
            	<div class="table-responsive">
			 		  <table class="layui-table" lay-skin="line" lay-size="lg" id="table">						  
						  <thead>
						    <tr>
						      <th>申请人</th>
						      <th>申请服务时间</th>
						      <th>申请时间</th>
							  <th>状态</th>
						    </tr> 
						  </thead>
						  <tbody>
						  <!--#循环打印<tr>标签 修改删除向后端传递数据 id值#-->
						  <tr th:each="message:${OneVolunter}">
							  <td th:text="${message.getUserName()}"></td>
							  <td th:if="${message.getTaskTime()} eq '1'" th:text="周一上午"></td>
							  <td th:if="${message.getTaskTime()} eq '2'" th:text="周二上午"></td>
							  <td th:if="${message.getTaskTime()} eq '3'" th:text="周三上午"></td>
							  <td th:if="${message.getTaskTime()} eq '4'" th:text="周四上午"></td>
							  <td th:if="${message.getTaskTime()} eq '5'" th:text="周五上午"></td>
							  <td th:if="${message.getTaskTime()} eq '6'" th:text="周六上午"></td>
							  <td th:if="${message.getTaskTime()} eq '7'" th:text="周日上午"></td>
							  <td th:if="${message.getTaskTime()} eq '8'" th:text="周一下午"></td>
							  <td th:if="${message.getTaskTime()} eq '9'" th:text="周二下午"></td>
							  <td th:if="${message.getTaskTime()} eq '10'" th:text="周三下午"></td>
							  <td th:if="${message.getTaskTime()} eq '11'" th:text="周四下午"></td>
							  <td th:if="${message.getTaskTime()} eq '12'" th:text="周五下午"></td>
							  <td th:if="${message.getTaskTime()} eq '13'" th:text="周六下午"></td>
							  <td th:if="${message.getTaskTime()} eq '14'" th:text="周日下午"></td>
							  <td th:text="${#dates.format(message.getPuDate(),'yyyy-MM-dd')}"></td>
							  <td th:text="${message.getStat()}"></td>
						  </tr>
						  </tbody>
					</table>
			 	</div>
                   
           		<!--分页-->
           		<div id="page"></div>
           		<!--分页-->
            </div>           
        </div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>    
    <script>
    	var element = layui.element;
    	layui.use(['laypage', 'layer'], function(){
		  var laypage = layui.laypage
		  ,layer = layui.layer;		  
		  
		  //页码完整功能
		  laypage.render({
		    elem: 'page'
		    ,count: 100
		    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
		    ,jump: function(obj){
		      console.log(obj)
		    }
		  });	 
		});
		
		//弹框		
		$('#fabu').on('click', function(){			
		  layui.use('layer', function(){
          var layer = layui.layer;
          layer.open({
                type: 2,
                title: '发布任务',
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['660px', '420px'],
                content: '02任务发布-发布任务.html',
                end: function () {
                   location.reload();
                }
            });
        });
      })
		
		//判断弹框
		$(".delete").click(function(){
			layer.confirm('确定要删除此任务？', {
			  btn: ['是','否'] //按钮
			}, function(){
			  layer.msg('已删除', {icon: 1});
			}, function(){
			  layer.msg('已取消',  {icon: 2});
			});
		})			
		
		 layui.use('form', function(){
		  var form = layui.form; 
		  form.render();
		}); 
	</script>
	
</body>
</html>