<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>查看防疫信息</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>    
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>用户首页 > <span>疫情防控信息查询</span></p>
    		</div>
    	</div>
    	<!--面包屑导航-->
        <div class="layui-row">
            <div class="layui-card">
            	<div class="table-responsive">
                    <table id="messageList" lay-filter="test"></table>
			 	</div>
            </div>           
        </div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>
    <script type="text/html" id="doBar">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="check">查看</a>
    </script>
    <script>
    	var element = layui.element;

        function dateToStr(date) {
            if(date==="") return "";
            var time = new Date(date.time);
            var y = time.getFullYear();
            var M = time.getMonth() + 1;
            M = M < 10 ? ("0" + M) : M;
            var d = time.getDate();
            d = d < 10 ? ("0" + d) : d;
            var str = y + "-" + M + "-" + d;
            return str;
        }

        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#messageList'
                ,height: 466
                ,url: '/user/messageList' //数据接口
                ,page: true //开启分页
                ,method: 'post'
                ,cols: [
                    [ //表头
                        {field: 'title', title: '消息标题', sort: true, fixed: 'left'}
                        ,{field: 'puBer', title: '发布者', sort: true}
                        ,{field: 'puDate', title: '发布时间', sort: true,
                            templet: function (d) {
                                return dateToStr(d.puDate);
                            }
                        }
                        ,{title: '操作', toolbar:"#doBar", width:120}
                        ,{field: 'stat', title: '状态', sort: true}
                    ]
                ]
            });

            table.on('tool(test)', function(obj){
                var data = obj.data;
                var layEvent = obj.event;

                if(layEvent === 'check'){ //同意
                    location.href="/user/taskCompletion?meId="+data.meID;
                }
            });

        });

	</script>
	
</body>
</html>