<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>申请志愿者服务页面</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>  
    <link rel="stylesheet" href="../assets/css/style.css"/> 
	<style type="text/css">
	td{
		word-break:break-all;
		text-align:center;
		height:110px;
	}
	table{
		opacity:0.8;
	}
	#imgDiv{
		background-image: url("../img/timg.gif");
		background-size:cover;
	}
	</style>
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>用户首页 > 申请志愿者页面 > <span>申请志愿者页面</span></p>
    		</div>    		
    	</div>
		<!--指示条-->
        <div class="layui-row">   
            <div id="imgDiv" class="layui-card positionbox">     		
				<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
					<legend>任务申请</legend>
				</fieldset>
				<table class="layui-table">
					<thead>
						<tr>
							<td title="任务表" class="topth" bgcolor="#55aaff"style="color: #FF8C00;font-size: 20px">任务表</th>
							<td bgcolor="#55aaff"style="color: #FD482C;font-size: 20px">周一</th>
							<td bgcolor="#55aaff"style="color: #FD482C;font-size: 20px">周二</th>
							<td bgcolor="#55aaff"style="color: #FD482C;font-size: 20px">周三</th>
							<td bgcolor="#55aaff"style="color: #FD482C;font-size: 20px">周四</th>
							<td bgcolor="#55aaff"style="color: #FD482C;font-size: 20px">周五</th>
							<td bgcolor="#55aaff"style="color: #FD482C;font-size: 20px">周六</th>
							<td bgcolor="#55aaff"style="color: #FD482C;font-size: 20px">周日</th>
						</tr> 
					</thead>
				  
				    <tbody>
						<tr>
							<td class="toptd" bgcolor="#55aaff" style="color: #FA8072;font-size: 20px">上午</td>
						    <td th:if="${volunag.containsKey('1')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('1').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('1')}">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=${'1'})}">申请</a>
							</td>
							<td th:if="${volunag.containsKey('2')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('2').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('2')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'2'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('3')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('3').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('3')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'3'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('4')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('4').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('4')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'4'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('5')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('5').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('5')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'5'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('6')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('6').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('6')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'6'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('7')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('7').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('7')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'7'})}"></a>
							</td>
						</tr>
						<tr>
							<td class="toptd" bgcolor="#55aaff" style="color: #FA8072;font-size: 20px">下午</td>
							<td th:if="${volunag.containsKey('8')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('8').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('8')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'8'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('9')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('9').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('9')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'9'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('10')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('10').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('10')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'10'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('11')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('11').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('11')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'11'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('12')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('12').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('12')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'12'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('13')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('13').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('13')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'13'})}"></a>
							</td>
							<td th:if="${volunag.containsKey('14')}" bgcolor="#ffaa00"style="color: 	#20B2AA;font-size: 15px">
								<span th:text="${volunag.get('14').getUserName()}"></span>
							</td>
							<td th:if="${not volunag.containsKey('14')}" bgcolor="#00ff00">
								<a th:href="@{/user/UserApplyForVolunteer(taskTime=#{'14'})}"></a>
							</td>
						</tr>
				    </tbody>
				</table>
            </div>   
		</div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>   
    <script>
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo'); //建立编辑器
	});
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo2'); //建立编辑器
	});	
	</script>
</body>
</html>