<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员添加物资信息页面</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>  
    <link rel="stylesheet" href="../assets/css/style.css"/> 
</head>
<body class="layui-view-body">
    <div class="layui-content">
	
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>管理员首页 > 物资管理 > <span>添加物资信息</span></p>
    		</div>    		
    	</div>
		
    	<!--面包屑导航-->
    	<div class="layui-row layui-col-space5 linarrow">
		    <div class="layui-col-md4 linitem">
		      <div class="grid-demo active">添加物资信息</div>
		    </div>
		</div>
		
		<!--指示条-->
        <div class="layui-row">        	
            <div class="layui-card positionbox">            	  
				    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					    <legend>物资信息</legend>
					</fieldset>
					<form class="layui-form" action="">
						<div class="layui-form-item">							    
							<div class="layui-inline">
								<!-- #修改name值# -->
								<label class="layui-form-label">物资名称</label>
								<div class="layui-input-inline" style="width: 200px;">
									<input type="text" name="goodsName" placeholder="物资名称" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-form-item">							    
							<div class="layui-inline">
								<label class="layui-form-label">物资数量</label>
								<div class="layui-input-inline" style="width: 200px;">
								<!-- #修改name值# -->
									<input type="text" name="goodsNum" placeholder="物资数量" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-form-item">							    
							<div class="layui-inline">
								<label class="layui-form-label">物资来源</label>
								<div class="layui-input-inline" style="width: 200px;">
								<!-- #修改name值# -->
									<input type="text" name="goodsSource" placeholder="物资来源" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button type="submit" formaction="/admin/addGoods" class="layui-btn layui-btn-primary">确认添加</button>
							</div>
						</div>
					</form>
            </div>   
		</div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>   
    <script>
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo'); //建立编辑器
	});
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo2'); //建立编辑器
	});	
	</script>>
</body>
</html>