<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>查看反馈信息</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>  
    <link rel="stylesheet" href="../assets/css/style.css"/> 
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>反馈信息 > <span>查看反馈信息</span></p>
    		</div>    		
    	</div>
    	<!--面包屑导航-->
    	<div class="layui-row layui-col-space5 linarrow">
		    <div class="layui-col-md4 linitem">
		      <div class="grid-demo active">查看反馈信息</div>
		    </div>
		</div>
		<!--指示条-->
        <div class="layui-row">        	
            <div class="layui-card positionbox">            	  
				    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					    <legend>反馈信息</legend>
					</fieldset>
					<!--#修改action提交url#-->
					<form class="layui-form">
						 <div class="layui-form-item">
							    <label class="layui-form-label">标题</label>
							    <label class="layui-form-label">
									<span th:text="${Oneopinion.getTitle()}"></span>
								</label>
						  </div>
						  <div class="layui-form-item">
							    <label class="layui-form-label">发布者</label>
							    <label class="layui-form-label">
									<span th:text="${Oneopinion.getUserName()}"></span>
								</label>
						  </div>
						  <div class="layui-form-item">
							    <label class="layui-form-label">发布时间</label>
							    <label class="layui-form-label">
									<span th:text="${#dates.format(Oneopinion.getPuDate(),'yyyy-MM-dd HH:mm:ss')}"></span>
								</label>
						  </div>
						  <div class="layui-form-item">
							    <label class="layui-form-label">具体内容</label>
							    <label class="layui-form-label">
									<span th:text="${Oneopinion.getCont()}"></span>
								</label>
						  </div>
						  <div class="layui-form-item">
							    <label class="layui-form-label">状态</label>
							    <label class="layui-form-label">
									<span th:text="${Oneopinion.getStat()}"></span>
								</label>
						  </div>
						<div class="layui-form-item">
							<label class="layui-form-label">回复时间</label>
							<label class="layui-form-label">
								<span th:text="${#dates.format(Oneopinion.getAdDate(),'yyyy-MM-dd HH:mm:ss')}"></span>
							</label>
						</div>
						  <div class="layui-form-item">
							    <label class="layui-form-label">管理员回复</label>
							    <label class="layui-form-label">
									<span th:text="${Oneopinion.getAdCont()}"></span>
								</label>
						  </div>
					</form>
					<div class="layui-form-item">
					    <div class="layui-input-block">
					    	<a href="/user/ReturnPage" class="layui-btn layui-btn-normal" >返回</a>
					    </div>
					</div>
            </div>   
		</div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>   
    <script>
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo'); //建立编辑器
	});
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo2'); //建立编辑器
	});	
	</script>
</body>
</html>