<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>具体防疫信息</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>    
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>首页管理 > <span>查看防疫信息</span></p>
    		</div>
    		<div class="mbrt layui-col-xs6 layui-col-md6">
    			<a href="javascript:;" class="layui-btn layui-btn-normal" id="fabu">具体防疫信息</a>    			     			 
    		</div>
    	</div>
    	<!--面包屑导航-->
        <div class="layui-row">
            <div class="layui-card">
            	<div class="table-responsive">
			 		  <table class="layui-table" lay-skin="line" lay-size="lg" id="table">						  
						  <thead>
						    <tr>
						      <th>信息</th>
						      <th>发布者</th>	
						      <th>发布时间</th>
						    </tr> 
						  </thead>
						  <tbody>
						  	<tr th:each="u : ${list}">
					            <td th:text="${u.id}">每日登录</td>
					            <td th:text="${u.name}">10</td>
					            <td th:text="${u.age}">2019-11-29</td>
					        </tr>
						  </tbody>
					</table>
					<div class="layui-form-item">
							    <label class="layui-form-label"><span th:text="${ }">具体消息</span></label>
						  </div>
			 	</div>
                   
           		
            </div> 
            <div class="layui-form-item">
		    <div class="layui-input-block">					    	
		       <a href="用户查看防疫信息.html" class="layui-btn layui-btn-normal">返回上一步</a>
		    </div>
		</div>          
        </div>

        
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>    
    <script>
    	var element = layui.element;
    	layui.use(['laypage', 'layer'], function(){
		  var laypage = layui.laypage
		  ,layer = layui.layer;		  
		  
		 
	</script>
	
</body>
</html>