<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>查看用户信息</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/> 
    <link rel="stylesheet" href="../assets/css/style.css"/>
    <style type="text/css">
    	.layui-elem-quote{ font-size: 18px; margin-bottom: 20px;}
    	.layui-input-block img{ max-height: 160px; width: auto;}
		#form-bg{
			background-image: url("../img/bg8.png");
			background-size: 100%,100%;
		}
		#form-box{
			width: calc(28vw);
			padding-left: calc(16vw);
		}
    </style>
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>管理员首页 > 查看用户信息 ><span>详情</span></p>
    		</div>    		
    	</div>
    	<!--面包屑导航-->    	
		
		<!--岗位标题-->
        <div class="layui-row">
            <div id="form-bg" class="layui-card positionbox">
            	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					<legend>详细信息</legend>
				</fieldset>
				<div id="form-box">
				<form class="layui-form" action="">
					<div class="layui-form-item">
					<label class="layui-form-label" style="font-size:18px; font-weight: bold;"><span class="col-red"></span>姓名</label>
						<!-- #下面每一个div内部使用表达式进行数据获取填充# -->
						<div class="layui-input-block">
							<span style="font-size:18px; color: #000000;" th:text="${admuser.userName}"></span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label" style="font-size:18px; font-weight: bold;">年龄</label>
						<div class="layui-input-inline">
							<span style="font-size:18px; color: #000000;" th:text="${admuser.userAge}"></span>
						</div>							    
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label" style="font-size:18px; font-weight: bold;">电话号码</label>
						<div class="layui-input-block">
							<span style="font-size:18px; color: #000000;" th:text="${admuser.userPhone}"></span>
						</div>						    
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label" style="font-size:18px; font-weight: bold;">性别</label>
						<div class="layui-input-inline">
							<span style="font-size:18px; color: #000000;" th:text="${admuser.userSex}"></span>
						</div>							    			   
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"></label>
						<div class="layui-input-inline">
							<button type="button" class="layui-btn layui-btn-normal"><a th:href="@{/ManagerModifyUserInformationPage(userId=${admuser.getUserId()})}"><font color="white">修改信息</font></a></button>
						</div>
					</div>
					
				</form>
				</div>
			</div>           
        </div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>    
    <script>   	
		layui.use('form', function(){
		  var form = layui.form; 
		  form.render();
		}); 
	</script>
	
</body>
</html>