<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员修改用户信息</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>  
    <link rel="stylesheet" href="../assets/css/style.css"/>
	<script>
		window.onload = function(){

			var passwordInput = document.getElementById("passwordInput");
			var submitBtn = document.getElementById("submitBtn");

			var tag = false;

			//设置输入不能为空值
			passwordInput.onblur = function(){
				if(passwordInput.value != ""){
					tag = true;
				}else{
					alert("修改的密码不能为空");
				}
			}
			submitBtn.onclick = function(){

				if(tag){
					document.getElementById("submitForm").action="/admin/changePassword";
					document.getElementById("submitForm").submit();
				}else{

					alert("请检查输入字段是否正确或是否为空");
				}
			}
		}
	</script>
</head>
<body class="layui-view-body">
    <div class="layui-content">
	
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>管理员首页 > 用户信息管理 > 查看用户信息 > 修改用户信息 > <span>修改用户密码</span></p>
    		</div>    		
    	</div>
		
    	<!--面包屑导航-->
    	<div class="layui-row layui-col-space5 linarrow">
		    <div class="layui-col-md4 linitem">
		      <div class="grid-demo active">修改用户密码</div>
		    </div>
		</div>
		
		<!--指示条-->
        <div class="layui-row">        	
            <div class="layui-card positionbox">            	  
				    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					    <legend>请填写基本信息</legend>
					</fieldset>
					<form id="submitForm" class="layui-form" method="post">
						<div class="layui-form-item">							    
							<div class="layui-inline">
								<label class="layui-form-label">管理员密码</label>
								<div class="layui-input-inline" style="width: 200px;">
									<input type="password" name="mpassword" placeholder="管理员密码" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-form-item">							    
							<div class="layui-inline">
								<label class="layui-form-label">新密码</label>
								<div class="layui-input-inline" style="width: 200px;">
									<input id="passwordInput" type="password" name="newPassword" placeholder="新密码" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button id="submitBten" class="layui-btn layui-btn-primary">确认修改</button>
							</div>
						</div>
					</form>

            </div>   
		</div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>   
    <script>
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo'); //建立编辑器
	});
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.build('demo2'); //建立编辑器
	});	
	</script>
</body>
</html>