<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
    <style>
        img{
            width:auto;
            height:auto;
            max-width:100%;
            max-height:80%;
        }
    </style>
    <script>
        //初始化加载函数
        window.onload = function(){

            var adminIdInputElt = document.getElementById("adminIdInput");
            var passwordInputElt = document.getElementById("passwordInput");
            var submitBtn = document.getElementById("submitBtn");

            var adminIdTag = false;
            var passwordTag = false;

            adminIdInputElt.onblur = function(){
                if(adminIdInputElt.value == ""){
                    adminIdTag = false;
                }else{
                    adminIdTag = true;
                }
            }
            passwordInputElt.onblur = function(){
                if(passwordInputElt.value == ""){
                    passwordTag = false;
                }else{
                    passwordTag = true;
                }
            }
            submitBtn.onclick = function(){
                if(adminIdTag == true && passwordTag == true){
                    document.getElementById("loginForm").action = "/adminLogin";
                    document.getElementById("loginForm").submit();
                }else{
                    alert("请检查用户名和密码");
                }
            }
        }
    </script>
</head>
<body class="login-wrap">
    <div class="login-container">
        <div class="login-form">
            <form id="loginForm" class="layui-form-item layui-form" method="post" action="">
                <div class="input-group">
                    <input id="adminIdInput" type="text" name="adminId" value="" class="input-field">
                    <label for="adminIdInput" class="input-label">
                        <span class="label-title">管理员账号</span>
                    </label>
                </div>
                <div class="input-group">
                    <input id="passwordInput" type="password" name="adminPW" value="" class="input-field">
                    <label for="passwordInput" class="input-label">
                        <span class="label-title">密码</span>
                    </label>
                </div>
                <button id="submitBtn" class="layui-btn layui-btn-fluid">登录</button>
            </form>
        </div>
    </div>
</body>
<script src="../assets/layui.js"></script>
<script src="../index.js" data-main="login"></script>
</html>
