<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="icon" href="/favicon.ico">
    <title>系统首页</title>
</head>
<body class="login-wrap">
    <div class="login-container">
        <form class="login-form">
            <button type="submit" formaction="UserLoginPage.html" class="login-button">用户页面<i class="ai ai-enter"></i></button>
            <button type="submit" formaction="ManagerLoginPage.html" class="login-button">管理员页面<i class="ai ai-enter"></i></button>
            <button type="submit" formaction="RegistrationOfOutsidersPage.html" class="login-button">外来人员注册<i class="ai ai-enter"></i></button>
        </form>
    </div>
</body>
<script src="../assets/layui.js"></script>
<script src="../index.js" data-main="login"></script>
</html>